<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!--brand -->
    <h3 clas="navbar-brand"> Charts </h3>

    <!-- menu toggler -->
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="navbarNavAltMarkup" aria-expanded="true" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- links -->
    <div id="navbarNavAltMarkup" class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/bar-chart" routerLinkActive="active"> Bar </a>
            <a class="nav-item nav-link" routerLink="/bubble-chart" routerLinkActive="active"> Bubble </a>
            <a class="nav-item nav-link" routerLink="/doughnut-chart" routerLinkActive="active"> Doughnut </a>
            <a class="nav-item nav-link" routerLink="/line-chart" routerLinkActive="active"> Line </a>
            <a class="nav-item nav-link" routerLink="/pie-chart" routerLinkActive="active"> Pie </a>
            <a class="nav-item nav-link" routerLink="/radar-chart" routerLinkActive="active"> Radar </a>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>